<div class="col-12">

    <div class="row text-center airports">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div id="arc">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 point">
            <fa-icon [icon]="faPlaneDeparture"></fa-icon>
            <br>
            {{ flights[flightsType+'FlightsInfo'].departAirport }}
        </div>
        <div class="col-6 point">
            <fa-icon [icon]="faPlaneArrival"></fa-icon>
            <br>
            {{ flights[flightsType+'FlightsInfo'].destinationAirport }}
        </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-1">

        </div>
        <div class="col-9 date">
            {{ flights[flightsType+'FlightsInfo'].departureDateTime*1000 | date:'E. d MMM yyyy' }}
        </div>
    </div>

    <div class="row ticket outbound" app-flight
         *ngFor="let flightRecord of flights[flightsType+'Flights']; let i = index"
         [flight]="flightRecord"
         [prevFlight]="flights[flightsType+'Flights'][i - 1]"
    >
    </div>

</div>
