$size: 25px;

hr {
  border-top: 1px dashed #9e978e;
  margin: 20px 40px 30px;
  position: relative;
  &:before,
  &:after {
    background: #9e978e;
    display: inline-block;
    margin: 0 1em 1em 0;
    height: $size * 2;
    width: $size;
    content: '';
    position: absolute;
    margin: 0;
    top: -25px;
  }
  &:before {
    border-bottom-right-radius: $size * 2;
    border-top-right-radius: $size * 2;
    left: -55px;
  }
  &:after {
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
    right: -55px;
  }
}

#arc div {
  border: 2px dashed #000;
  display: inline-block;
  width: 100%;
  height: 8em;
  padding: 0.5em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}



.row {
  &.airports {
    padding-top: 15px;
    font-weight: 700;
    font-size: 22px;
    .point {
      padding-top: 43px;
    }
  }
  .date {
    font-weight: 700;
    margin-bottom: 20px;
  }
}