* {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login-wrapper {
  align-items: center;
  background: url('/assets/background.jpg') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  .user-details-wrapper {
    min-width: 300px;
    .setoo-logo {
      display: block;
      height: 50px;
      margin-bottom: 25px;
      background: url('/assets/setoo-logo-3x.png') no-repeat;
    }
    .alert-info {
      background-color: blue;
      border-color: blue;
    }
    .alert-danger {
      background-color: red;
      border-color: red;
    }
    input {
      color: blue;
    }
  }
}


