<div class="login-wrapper">
    <div class="user-details-wrapper">
        <a href="/" class="setoo-logo"></a>
        <div>
            <div class="alert alert-info" *ngIf="!errorMessages.length">
                Please log in
            </div>
            <div *ngIf="errorMessages">
                <div class="alert alert-danger" *ngFor="let message of errorMessages">
                    {{message}}
                </div>
            </div>

            <form class="form-wrapper " [formGroup]="loginForm" (keyup.enter)="login(loginForm)">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control"
                           formControlName="username"
                           id="username"
                           name="username"
                           autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"
                           formControlName="password"
                           id="password"
                           name="password"
                           autocomplete="off" />
                </div>
                <button class="btn btn-primary" type="button" (click)="login(loginForm)">Login</button>
            </form>
        </div>
    </div>
</div>
