.row {
  .time {
    font-weight: 700;
  }
  .airport {
    margin-bottom: 20px;
    .airport-code {
      font-weight: 700;
      color: gray;
    }
  }
  .line .inner {
    position: absolute;
    width: 4px;
    right: 0;
    height: 100%;
    border-right: 2px solid;
  }
  &.depart {
    overflow: hidden;
    .line .inner {
      top: 14%;
      &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #000;
      }
    }
  }
  &.destination {
    overflow: hidden;
    .line .inner{
      top: -78%;
      &:after {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #000;
      }
    }
  }
  &.std {
    margin-bottom: 25px;
    font-size: 14px;
    .line .inner {
      border-right: 2px dotted;
      top: -75px;
      height: 150px;
      &:after,
      &:before {
        display: none;
      }
    }
  }
}