<div class="col-12">

    <div class="row std justify-content-center" *ngIf="prevFlight">
        <div class="col-1 line">
            <div class="inner"></div>
        </div>
        <div class="col-9 date">
            Aufenthalt <strong>{{ (flight.departureDateTime - prevFlight.arrivalDateTime) | SecondsToDhms }}</strong> Std.
        </div>
    </div>

    <div class="row depart justify-content-center">
        <div class="col-1 line">
            <div class="inner"></div>
        </div>
        <div class="col-3 col-md-1 time">
            {{ flight.flightTime }}
        </div>
        <div class="col-6 col-md-8 airport">
            <span class="airport-code">{{ flight.departAirport }}</span> {{ flight.departCity }}<br>
            {{ flight.departAirportName }}
        </div>
    </div>

    <div class="row destination justify-content-center">
        <div class="col-1 line">
            <div class="inner"></div>
        </div>
        <div class="col-3 col-md-1 time">
            {{ flight.landingTime }}
        </div>
        <div class="col-6 col-md-8 airport">
            <span class="airport-code">{{ flight.destinationAirport }}</span> {{ flight.destinationCity }}<br>
            {{ flight.destinationAirportName }}
        </div>
    </div>

</div>