<div class="component-wrapper">
    <div class="container">

        <hr>
        <div class="row justify-content-end">
            <div class="col-12 col-md-2 justify-content-end">
                <button class="btn btn-danger" (click)="onLogout()" *ngIf="(authState | async).token">Logout</button>
            </div>
        </div>
        <hr>

        <h1 class="text-center">Flights</h1>

        <div class="container" *ngIf="(flightsData | async).flights">

            <h2>Outbound Flights</h2>
            <div class="row ticket outbound" app-flights-bundle
                 [flights]="(flightsData | async).flights"
                 [flightsType]="'outbound'">
            </div>

            <h2>Inbound Flights</h2>
            <div class="row ticket inbound" app-flights-bundle
                 [flights]="(flightsData | async).flights"
                 [flightsType]="'inbound'">
            </div>

        </div>

    </div>
</div>

