.component-wrapper {
  background: #9e978e;
  min-width: 320px;
  padding: 15px 0;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 30px;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}

.row {
  &.ticket {
    background: #fff;
    border: 1px solid;
    border-radius: 15px;
    border-color: #9e978e;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }
}